body{
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: rgba(224, 221, 221, 0.608);
}
a {
  color: #000000;
  text-decoration: none;
}

.header {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 244, 244);
  padding: 0 5% 0 5%;
}

.header_section {
  display: flex;
}

.header_logo {
  margin: 20%;
}

.header_item {
  font-size: 100%;
  margin-left: 7px;
}

.header_item:hover {
  background-color: rgb(61, 136, 136);
  border-radius: 5px;
}

.header2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.header_section2 {
  display: flex;
}

.header_asus:hover {
  background-color: rgb(61, 136, 136);
  border-radius: 5px;
}

.box {
  margin-top: 15px;
  margin-right: 150px;
  height: 20px;
  display: flex;
  cursor: pointer;
  padding: 10px 15px;
  background: rgb(212, 212, 212);
  border-radius: 30px;
  align-items: center;
  box-shadow: 15px 15px 25px rgb(0, 0, 0, 0.3);
}

.box:hover input {
  width: 400px;
}
.box input {
  width: 60px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.header_asus {
  font-size: 120%;
  margin-right: 40px;
}

.header_logo2 {
  margin-left: 90px;
}

.contact{
  font-size: 30px;
  font-weight: 500;
  margin: 0 10%;
}
.westwood{
  margin-top: 5%;
}
.address1{
  display: flex;
  margin-left: 5%;
}

.address1 img{
  border-radius: 10px;
}
.wesr{
  margin-left: 30px;
}

.yandex{
  margin:5% 5%;
}

.address2{
  display: flex;
  margin: 0% 5%;
}

.address2 img{
  border-radius: 10px;
}

.address3{
  display: flex;
  margin: 0 5%;
}
.address3 img{
  border-radius: 10px; 
}

.address123{
  display: flex;
}

.address4{
  display: flex;
  margin: 0 5%;
}
.address4 img{
  border-radius: 10px; 
}

.address5{
  display: flex;
  margin: 0 -1%;
}
.address5 img{
  border-radius: 10px; 
}

.address6{
  display: flex;
  margin: 0 6.3%;
}
.address6 img{
  border-radius: 10px; 
}
.address456{
  margin: 5%;
  display: flex;
}

.sabina{
  background-color: #000000;
}
.zhasu{
  font-family: none;
  font-size: 18px;
  display: flex;
  margin: 0 15%;
  margin-top: 100px;
}
.zhasu1{
  line-height: 2;
  color: rgb(255, 255, 255);
}
.zhasu2{
  margin-left: 13%;
  line-height: 2;
  color: rgb(255, 255, 255);
}
.zhasu3{
  margin-left: 13%;
  line-height: 2;
  color: rgb(255, 255, 255);
}
.zhasu4{
  margin-left: 13%;
  line-height: 2;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 430px) {
  .header2{
    display:none;
  }
  .address123{
    display: block;
  }
  .address456{
    display: block;
  }
  .zhasu4{
    display: none;
  }
  .address4{
    margin: 0 0;
  }
  .address6{
    margin: 0 0;
  }
}

@media screen  and (max-width: 880px){
  @media screen and (min-width: 550px){
 .address123{
  display: block;
 }
 .address456{
  display: block;
  margin-top: 0;
 }

 .address4{
  margin: 0 0;
 }

 .address6{
  margin: 0 0; 
 }
 .address123456{
  display: flex;
 }
 .zhasu{
  font-size: 14px;
 }
  }
}